<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="prose-core">
			<directory>tests/unit</directory>
			<directory>modules/routing/tests</directory>
			<directory>modules/intake/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
